{
  local_certs
}

voip.local {
  encode gzip

  # Frontend dev server
  reverse_proxy / http://127.0.0.1:3001

  # Backend API
  reverse_proxy /health http://127.0.0.1:8080
  reverse_proxy /config http://127.0.0.1:8080
  reverse_proxy /api/* http://127.0.0.1:8080
  reverse_proxy /protected/* http://127.0.0.1:8080

  # Backend websocket
  reverse_proxy /ws http://127.0.0.1:8080
}
